body {
    padding: 0;
    margin: 0;
}

.space {
    height: 100vh;
    position: relative;
    left: 100px;
    bottom: 0;
    background-image: url("../images/space.png");
    /*overflow: hidden;*/
}

.planet-area {
    position: relative;
    bottom: 0;
}

img.rocket {
    position: absolute;
    bottom: 300px;
    left: 400px;
    transform: rotate(30deg);
}

.control-panel {
    position: absolute;
    top: 20px;
    width: 50%;
    right: 20px;
    background-image: linear-gradient(to right, red , yellow);
}

.check-buttons {
    display: flex;
}

.levers {
    display: flex;
}

.levers input {
    transform: rotate(90deg);
}

input[type=button] {
    background-color: green;
}

input[type=text] {
    background-color: pink;
    border: 3px dashed greenyellow;;
}